version: "3.9"

services:
  api:
    image: ${IMAGE_NAME}
    environment:
      DATABASE_URL: ${DATABASE_URL}
      JWT_SECRET: ${JWT_SECRET}
      NODE_ENV: ${NODE_ENV}
    ports:
      - "3000:3000"
